<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(item => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.price %></td>
                    <td><%= item.quantity %></td>
                </tr>
            <% }); %>
        </tbody> 
    </table>
    <button type="submit">Buy</button> 
</body>
</html>
