* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    /* background: url('dog.jpg'); */
    background-color: gray;
    background-size: cover;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    z-index: 1000;
}

.topnav a {
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #9d41af;
    color: white;
}

.glass-container {
    position: absolute;
    z-index:1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6x rgba(0, 0,0, 0, 0);
    border-radius: 10px;
    border: 1px solid #fff;
}
.glass-container::before {
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    z-index:-1;
}

.register-box {
    margin: 0 auto;
    text-align:left;
}

h2 {
    color: #fff;
    margin-top:30px;
    margin-bottom: -20px;

}

form {
    display: flex;
    width: 200;
    flex-direction: column;
    margin-top:postion 20px;
}

input {
    padding: 15px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px; 
}

input::placeholder {
    color:#fff
}

input:focus {
    border: 2px solid #9d41af;
    outline: none;
}

.options {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size:12px;
    color:white;
}
  
.options input {
    margin-right: 5px;
    margin-top: 0px;
}

.options a {
    text-decoration: none;
    color: white;
    margin-left: auto;
}

button {
    background: #fff;
    color: black;
    width:150px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}
button:hover {
    background: transparent;
    color:white;
    outline: 1px solif #fff;
}

p {
    font-size: 15px;
    color:#fff;
    margin-top: 15px;
}

#regiter {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}