* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {
    margin: 0;
    justify-content:center;
    align-items: top;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}


/*  Home navigation bar */
.topnav {  
    overflow: hidden;
    background-color: #333;
}

/* Style of links navigation bar */
.topnav a {
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add color to active/current link */
.topnav a.active {
    background-color: #9d41af;
    color: white;
}

.column {
    float: left;
    height: 100vh;
}

.left {
    width: 10%;
    min-height: 100vh;
    padding: 10px;
    background-color: #909090;
}

.right {
    width: 90%;
    padding: 10px;
}

.container {
    display: flex;
    height: 100vh;
}

.button1 {
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #a1a1a1;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #a1a1a1;
    color: white;
}

.gallery {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-item img:hover {
    transform: scale(1.1);
}


.gallery .textWrapper {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
    padding: 10px;
}
  
.gallery text {
    text-align: left;
    color: rgb(0, 0, 0);
    width: 100%; 
}

#products_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 15px; /* Space between items */
    width: 100%;
}